.idea
node_modules/
dist/
.cache/
*.log
.DS_Store
.env
.env.local
coverage/
playwright-report
test-results
pickleball-session-*txt
**/__pycache__
pickleball_session*.txt
test-output*
**.swp
**.json
